.youContainer {
  display: flex;
  justify-content: end;
}

.otherContainer {
  display: flex;
}

.otherMessage {
  border-radius: 10px 10px 10px 0;
  background-color: gray;
  padding: 10px;
  margin-top: 10px;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: end;
  word-break:break-all;
}

.youMessage {
  border-radius: 10px 10px 0 10px;
  background-color: rgb(52, 105, 72);
  padding: 10px;
  margin-top: 10px;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: end;
  word-break:break-all;
}

.hour {
  font-size: 14px;
  color: rgb(165, 165, 165);
}